/* import*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/*reset*/

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'nunito',sans-serif;
    font-size: 20px;
}



/*style navbar*/
.header{
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;

}

.header .logo img{
    height: 125px;
    width: auto;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color:#ffbc0e
}

.header .boton_hamburgesa{
    height: 50px;
    width: 50px;
}
/*Menu mobile*/

#check_menu ,.boton_hamburgesa {
    display: none;
}

/*style main index*/

.contenidoPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./imagenes/1330715.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50rem;
}

.tituloPrincipal{
    display: inline-block;
    text-align: center;
    height: 5rem;
    font-size:5rem;
    font-weight: 900;
    margin-top: 10rem;
    color: rgba(9, 9, 9, 0.663);
    
}

.textoPrincipal{
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.button{
    display: inline-block;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    margin-bottom: 40px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0,3s ease 0s;
}

.button:hover{
    background-color: #ffbc0e;
}

.button a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

/*style footer*/

footer{
    width: 100%;
    
    padding: 2rem 8%;
    background-color: #1b3039;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-footer{
    height: 100px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon{
    height: 50px;
    width: 50px;
    margin: 1rem;
}

.social-icon:hover{
    background-color: #d91010;
    filter: invert(1);
}



.footer-menu-container{
    list-style: none;
    color: #f2f2f2;
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0,6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: #f2f2f2;
    opacity: 0,3;
    text-align: center;
}

/*Media navbar*/
@media(max-width:830px){
    .boton_hamburgesa{
        display: block;
    }
    .nav-links{
        display: none;
    }
}

#check_menu:checked~.nav-links{
    z-index: 1;
    background-color: #1b3039cc;
    width: 50%;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

/*Media style Inicio*/
@media (max-width:800px) {
    .tituloPrincipal{
        height: 3rem;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }
    .textoPrincipal{
        font-size: 1.5rem;
        font-weight: 400;
    }
}

/*Media style footer*/
@media(max-width:450px){
    .social-icon{
        height: 25px;
        width: 25px;
    }
}

/*style Galeria*/

.row .column img{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: black;
}

.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

/*media style Galeria*/

@media(max-width:800px){
    .column{
        flex: 50%;
    }
}

@media(max-width:600px){
    .column{
        flex: 100%;
    }
}

/*style Cursos*/

.cursos_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: url(./imagenes/1330715.png);
    background-size: cover;
    background-position: center;  
}

.cursos_container h1{
    margin: 20px;
    font-size: 40px;
    font-weight: 900;
    color: #eceff1;
}

.cursos{
    width: 60%;
    display: grid;
    background-color: #1b30397c;
    margin: 1.5rem;
    border-radius: 5%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 70px 300px 100px;
    grid-template-areas: 
    "titulo titulo"
    "descripcion video"
    "descripcion anotate";
}

.cursos:hover{
    background-color: silver;
    transform: scale(1.1);
}

.curso_titulo{
    margin: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    grid-area: titulo;
}



.curso_descripcion{
    grid-area: descripcion;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 1rem;
    overflow: hidden;
    
}

.curso_img{
    grid-area: video;
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 50%;
}

.curso_anotate{
    width: 200px;
    margin-top: 1rem;
    margin-bottom: 40px;
    grid-area: anotate;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 20px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0,3s ease 0s;
}

/*media style cursos*/

@media(max-width:800px)and (min-width:600px){
    .curso_img{
        width: 80%;
        height: 100%;
        margin-left: 3rem;
        
        
    }

}
    


@media(max-width:800px){
    .cursos{
        width: 80%;
        display: grid;
        background-color: #1b30397c;
        margin: 1.5rem;
        border-radius: 5%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 70px 300px 300px 100px;
        grid-template-areas: 
        "titulo titulo"
        "video video"
        "descripcion descripcion"
        "none anotate";
    }
    .curso_titulo{
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    .curso_anotate{
        width: 75%;
    }
}

/*style Contacto*/

.fondo-contacto{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./imagenes/1330715.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 100px;
}

.form-registro{
    width: 70%;
    background-color: #1b3039;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-registro h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.registro{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ffbc0e;
    font-size: 18px;
    color: white;
}

.form-registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-registro a{
    color: white;
    text-decoration: none;
}

.form-registro a:hover{
    color: white;
    text-decoration: underline;
}

.form-registro .boton-registro{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

/*media style formulario*/

@media(max-width:800px){
    .form-registro{
        width: 100%;
    }
    .form-registro p , a{
        margin-bottom: 40px;
    }
}

@media(max-width:500px){
    .form-registro{
            width: 150%;
            margin: 0;
            align-self: center;
    }
    .form-registro p , a{
        font-size: 12px;
    }
        

}

/* style Bio*/

.fondo-bio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-image: url(./imagenes/photo10.webp);
}

.fondo-bio h2{
    color: white;
}

.fondo-mision{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-image: url(./imagenes/photo11.webp);
}

.fondo-mision p{
    font-size: 25px;
    color: black;
    padding: 50px;
}

.info{
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding: 20px;  
    background-color: white;
}

.info p{
    font-size: 25px;
}

.info2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    justify-content: center;
    padding: 50px;
    width: 100%;
    height: 400px;
    background-color: #2c62d7;
}

.info2 h3{
    padding: 50px;
}

.info2 p{
    font-size: 22px;
}

/*media style Bio*/

@media(max-width:800px){
    .info{
        height: 700px;
    }
    .info2{
        height: 700px;
    }
}


@media(max-width:600px){
    .fondo-mision{
        height: 600px;
    }
    .fondo-mision p{
        font-size: 18px;
    }
    .info{
        height: 800px; 
    }
    .info p{
        font-size: 18px;
    }

    .info2{
        height: 800px;
    }
    .info2 p{
        font-size: 18px;
    }
}